$primary-color: #333;
$secondary-color:#a3a3a3;
$error-color:#f80808;
$font_white:#fff;
$primary_font: 18px;
$secondary_font: 12px;
$primary_font_style: Arial,Helvetica, sans-serif;
$input_height : 27px;
$btn_height:30px;
$btn_radius:3px;
$btn_width:150px;
$input_padding:10px;
$input_margin:10px;
$success-color: #00e600;

